.zh-aside{
  height: 100%;
  border-bottom: 1px solid #d8dce5;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  .switch{
    padding-top: 5px;
    margin-left: 21px;
  }
  .switch-active{
    padding-top: 5px;
    margin-left: 170px;
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    min-height: calc(100vh - 85px);
  }
  .el-menu--collapse{
    min-height: calc(100vh - 85px);
  }
}

