.zh-aside{
  height: 100%;
}
.switch{
  margin-left: 21px;
}
.el-menu-vertical:not(.el-menu--collapse) {
  width: 200px;
  min-height: calc(100vh - 65px);
}
.el-menu--collapse{
  min-height: calc(100vh - 65px);
}
