.zh-aside{
  height: inherit;
  border-bottom: 1px solid #d8dce5;
  background-color: #FFF;
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  .switch{
    padding-top: 5px;
    margin-left: 21px;
    border-right: solid 1px #e6e6e6;
    list-style: none;
    position: relative;
    padding-left: 0;
    background-color: #FFF;
  }
  .switch-active{
    padding-top: 5px;
    margin-left: 170px;
    border-right: solid 1px #e6e6e6;
    list-style: none;
    position: relative;
    padding-left: 0;
    background-color: #FFF;
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    height: inherit;
  }
  .el-menu--collapse{
    height: inherit;
  }
}

