.Permission {
    &{
        .tool-card {
            .search{
                margin-top: 15px;
            }
        }
        .table-content{
            margin-top: 24px;
            .nav-bar{
                margin-bottom: 14px;
            }
        }
    }
}

