.tag-view {
   display: flex;
   align-items: center;
   height: 24px;
   padding: 0 10px 0 0;
   //border-radius: 10px;
   //border-top:1px solid #eee;
   //border-right:1px solid #eee;
   //border-left:1px solid #eee;
}
.link{
   display: flex;
   align-items: center;
   height: 24px;
   text-decoration: none;
}
.title{
   display: inline-block;
   height: 24px;
   line-height: 24px;
   font-size: 16px;
   margin-right: 5px;
   min-width: 40px;
   padding-left: 5px;
}
.pre-icon{
  padding-left: 5px;
}
.tag-view-active{
   display: flex;
   align-items: center;
   height: 24px;
   padding: 0 10px 0 0;
   background-color: rgba(64,158,255,0.1);
}
.router-link-active{
   text-decoration: none;
   color:#409EFF;
   background-color: rgba(64,158,255,0.1);
}
