.Users {
    &{
        .tool-card {
            .search{
                margin-top: 15px;
            }
        }
        .nav-bar{
            margin-bottom: 14px;
        }
        .table-content{
            margin-top: 24px;
        }
    }
}
